@model Gig.PensionCalc.Domain.PensionInfo

@{
    ViewBag.Title = "Info";
}

<h2>Инфа о пенсии</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RemainingYears)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingYears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirienceYears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirienceYears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PensionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PensionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

    </dl>
</div>

